@model IEnumerable<UMA_SYSTEM.Frontend.Models.Denuncia>
@{
    ViewData["Title"] = "Index";
}

@section Estilos {
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["AlertMessage"] != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: '¡Éxito!',
                text: '@TempData["AlertMessage"]',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}

<p>
    <a onclick="showInPopup('@Url.Action("Create", "Denuncias", new { id = 0 }, Context.Request.Scheme)' , '')"
       class="btn btn-sm btn-primary text-white"><i class=" oi oi-plus"></i>  Crear denuncia</a>
</p>

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center bg-info text-white">
            <h5>Listado de Denuncias</h5>
        </div>
        <div class="card-body">
            <table id="denuncia" class="table table-hover table responsive table stripped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Expediente</th>
                        <th scope="col">Tipo de Denuncia</th>
                        <th scope="col">Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Fecha.ToString("yyyy-MM-dd")</td>
                            <td>@Html.DisplayFor(modelItem => item.NumExpediente)</td>
                            <td>@Html.DisplayFor(modelItem => item.TipoDenuncia!.Descripcion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Estado!.Descripcion)</td>
                            <td>
                                <a onclick="showInPopup('@Url.Action("Details", "Denuncias", new { id = item.Id }, Context.Request.Scheme)' ,
                    '')" class="btn btn-outline-info btn-sm"><i class="oi oi-list"></i> </a>                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@section Scripts {

    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/showmodal.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#denuncia').DataTable({
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                },
            });
        });
    </script>

   
}